@import './_variables';

header {
  background: $white--full;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

  .desktop--nav__control {
    display: flex;
    align-items: center;
    padding: 1.265rem 1.875rem;

    @media screen and (max-width: 820px) {
      display: none;
    }

    .logo__box {
      width: 144.8px;
    }
    .search__bar--box {
      margin-left: 10.5125rem;
      margin-right: 1rem;
      height: max-content;
      width: 400px;
      display: flex;
      align-items: center;

      input[type="text"] {
        padding: 0.75rem 1.25rem;
        background: $white--full;
        opacity: 0.2;
        border: 1px solid $dark--blue;
        border-right: 0;
        border-radius: 0.5rem 0rem 0rem 0.5rem;

        &::placeholder {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 400;
          font-size: $text-sm;
          line-height: 1rem;
          color: $grey--blue;
        }
        &:focus {
          outline: 0;
          opacity: 0.5;
        }
      }

      &>div {
        width: 3.5rem;
        height: 100%;
        padding: 12.6px;
        background-color: $light--green;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        cursor: pointer;
      }
    }

    nav {
      display: flex;
      margin-left: auto;
      align-items: center;
      justify-content: center;
      color: $dark--blue;

      &>div:last-child {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          width: 3rem;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 0.625rem;
        }
        &>span {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
          }
          svg {
            margin-left: 0.646rem;
          }
        }
      }

      h5 {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1875rem;
        text-decoration-line: underline;
      }

      .alert--icon__box {
        cursor: pointer;
        margin-inline: 2.9375rem 1.875rem;
      }
    }
  }

  .mobile--nav__control {
    display: none;

    @media screen and (max-width: 820px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

      .logo__box {
        width: 85px;
      }

      nav {
        display: flex;
        align-items: center;
        color: $dark--blue;

        h5 {
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.1875rem;
          text-decoration-line: underline;
          margin-right: 0.5rem;
        }

        .profile--img__box {
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-right: 0.75rem;

          &>div {
            width: 2.5rem;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 0.05rem;
          }
        }

        .menu__box {
          cursor: pointer;
          position: relative;
          width: 2rem;
          height: 1.25rem;
          display: flex;
          align-items: center;
          transition: all 300ms;
          
          span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: $dark--blue;
            position: absolute;
            transition: all 300ms;
            
            &:nth-child(1) {
              top: 0;
            }
            &:nth-child(2) {
              position: static;
            }
            &:nth-child(3) {
              bottom: 0;
            }
          }

          &.open {
            height: 0rem;
            transition: all 300ms;
            span {
              transition: all 300ms;
              &:nth-child(1) {
                rotate: 45deg;
                bottom: 0;
              }
              &:nth-child(2) {
                display: none;
              }
              &:nth-child(3) {
                rotate: -45deg;
                top: 0;
              }
            }
          }
        }

      }

    }
  }
}
