@import './variables';

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    // background-color: red;
    font-weight: 400;
    font-size: $text-base;
    line-height: 1.1875rem;
    color: $grey--blue;
    opacity: 0.6;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      font-style: normal;
      font-weight: 500;
      font-size: $text-base;
      line-height: 1.1875rem;
      color: $grey--blue;
      opacity: 1;
    }

    .arrow {
      display: inline-block;
      width: 1.5rem;
      aspect-ratio: 1;
      background: rgba(33, 63, 125, 0.1);
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;

      // &.left {
      //   // transform: rotate(-135deg) translate(-50%);
      // }

      // &.right {
      //   // transform: rotate(45deg);
      // }
    }

    &.disabled {
      pointer-events: none;

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
