/* font sizes */
$text-xs:  0.75rem;
$text-sm:  0.875rem;
$text-base:  1rem;
$text-md:  1.25rem;
$text-lg:  1.375rem;
$text-xl:  1.5rem;
$text-2xl:  2.5rem;

/* colors */
$white--full: #FFFFFF;
$white--bg: #E5E5E5;
$dark--blue: #213F7D;
$grey--blue: #545F7D;
$light--green: #39CDCC;
$red: #E4033B;
$green: #39CD62;
$gold: #E9B200;
