@import './variables';

aside {
  background-color: $white--full;
  padding: 2.4375rem 0 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  overflow-y: scroll;
  
  @media screen and (max-width: 820px) {
    box-shadow: none;
    background-color: darken($color: $white--full, $amount: 3.5);
  }

  ul {
    list-style: none;
  }
  &.desktop--mode__control {
    @media screen and (max-width: 820px) {
      display: none;
    }
  }
  &.mobile--mode__control {
    display: none;
    @media screen and (max-width: 820px) {
      display: block;
      width: 100%;
      z-index: 1;
    }
  }
  .side--bar {
    &>h4 {
      color: $dark--blue;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.1875rem;
      display: flex;
      align-items: center;
      padding: 0 1.875rem;
      margin-bottom: 3.25rem;
      cursor: pointer;
      
      &>span {
        margin-left: 0.625rem;
        margin-right: 0.25rem;
      }
      
      @media screen and (max-width: 820px) {
        margin-bottom: 1.75rem;
      }
    }
    &>ul {
      &>li {
        &:not(:last-child) {
          margin-bottom: 2.5rem;
          @media screen and (max-width: 820px) {
            margin-bottom: 1.5rem;
          }
        }
        &:first-child {
          cursor: pointer;
          color: $dark--blue;
          font-weight: 200;
          line-height: 1.185rem;
          font-size: 1rem;
          margin-bottom: 2.5rem;

          &>span {
            margin-left: 0.625rem;
          }
          padding: 0 1.875rem;
          
          @media screen and (max-width: 820px) {
            margin-bottom: 2rem;
          }
        }
        &>ul {
          &>h5 {
            padding: 0 1.875rem;
            margin-bottom: 0.625rem;
            font-weight: 500;
            font-size: $text-xs;
            color: $grey--blue;
            line-height: $text-sm;
          }
          &>li {
            cursor: pointer;
            padding: 0.625rem 1.875rem;
            font-size: 1rem;
            line-height: 1.185rem;
            color: $dark--blue;
            display: flex;
            align-items: center;

            &>span {
              margin-left: 0.625rem;
            }
          }
        }
      }
    }
  }
}
