@import './variables';

main {
  padding: 3.75rem;
  padding-bottom: 9.5625rem;
  overflow-y: scroll;

  &>.nav__back {
    a {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    span {
      font-weight: 400;
      font-size: $text-base;
      line-height: 1.875rem;
      color: $grey--blue;
      margin-left: $text-sm;
    }
  }
  &>.head__info {
    margin: 2rem 0rem 2.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-style: normal;
      font-weight: 500;
      font-size: $text-xl;
      line-height: 1.75rem;
      color: $dark--blue;
    }
    .cta__box {
      display: flex;
      &>button {
        display: block;
        width: max-content;
        border-radius: 0.5rem;
        padding: $text-xs $text-base;
        background-color: transparent;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: $text-sm;
        line-height: $text-base;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        border: 1px solid transparent;
        cursor: pointer;

        &#blacklist--user__btn {
          border-color: #E4033B;
          color: #E4033B;
          margin-right: $text-md;
        }
        &#activate--user__btn {
          border-color: #39CDCC;
          color: #39CDCC;
        }
      }
    }
  }
  &>.profile__nav {
    background: $white--full;
    margin-bottom: 1.875rem;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 0.25rem;
    &>div {
      display: flex;
      align-items: center;
      &>div {
        padding: 0rem 1.875rem;
        &:not(:last-child) {
          padding: 1.875rem;
        }
        &:first-child {
          display: flex;
          align-items: center;
          &>.avatar__box {
            width: 6.25rem;
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;
            margin-right: $text-md;
          }
          &>div {
            h5 {
              font-weight: 500;
              font-size: 1.375rem;
              line-height: 1.625rem;
              color: $dark--blue;
              margin-bottom: 0.5rem;
            }
            span {
              font-weight: 400;
              font-size: $text-sm;
              line-height: $text-base;
              color: $grey--blue;
            }
          }
        }
        &:nth-child(2) {
          height: auto;
          border-inline: 1px solid rgb(84, 95, 125, 0.2);
          span {
            display: block;
            font-weight: 500;
            font-size: $text-sm;
            line-height: $text-base;
            color: $grey--blue;
            &:first-child {
              margin-bottom: $text-xs;
            }
            &:last-child {
              margin-right: 0.375rem;
            }
          }
        }
        &:last-child {
          h5 {
            font-weight: 500;
            font-size: $text-lg;
            line-height: 1.625rem;
            color: $dark--blue;
            margin-bottom: $text-sm;
          }
          h6 {
            font-weight: 400;
            font-size: $text-xs;
            line-height: $text-sm;
            color: $dark--blue;
          }
        }
      }
    }
    &>nav {
      padding: 0 1.875rem;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &>li {
          flex-basis: 25%;
          text-align: center;
          padding-bottom: 0.625rem;
          border-bottom: 2px solid transparent;
          font-weight: 400;
          font-size: $text-base;
          line-height: 19px;
          color: rgba(0, 0, 0, 0.8);
          cursor: pointer;
        }
      }
    }
  }
  &>.tab__detail {
    background: $white--full;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 0.5rem;
    padding: 1.875rem;
    padding-top: 0;
    padding-bottom: 2.875rem;
    &>section {
      padding: 1.875rem 0;
      &:not(:last-child) {
        border-bottom: 1px solid rgb(33, 63, 125, 0.1);
      }
      &>h5 {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.1875rem;
        margin-bottom: 1.875rem;
        color: $dark--blue;
      }
      .data__label {
        font-weight: 400;
        font-size: $text-xs;
        line-height: $text-sm;
        text-transform: uppercase;
        color: $grey--blue;
      }
      .data__info {
        font-weight: 500;
        font-size: $text-base;
        line-height: 1.1875rem;
        color: $grey--blue;
      }
      &>div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.875rem;
        
      }
      &.education {
        &>div {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
